<a href="https://colab.research.google.com/github/IAMKK28-03-04/Kushal/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/customers-10000 2.csv')
d=pd.read_csv('/content/customers-10000 3.csv')
print(df)
print(d)

      Index First Name                   Company  \
0         1    Heather              Mosley-David
1         2   Kristina  Horn, Shepard and Watson
2         3     Briana               Irwin-Oneal
3         4      Patty          Richardson Group
4         5   Kathleen              Carson-Burch
...     ...        ...                       ...
9995   9996     Meghan            Richardson LLC
9996   9997   Jeremiah               Hodge-Nixon
9997   9998      Peggy                  Vang LLC
9998   9999       Evan                 Gould Ltd
9999  10000    Melissa              Burns-Holden

                           Country                Phone 1 Subscription Date  \
0                           Norway           043-797-5229          26-08-20
1                          Andorra           932-062-1802          27-04-20
2                            Nepal             8352752061          22-03-22
3         Northern Mariana Islands           302.398.3833          02-07-20
4                            Macao  001-184-153-9683x1497          17-01-21
...                            ...                    ...               ...
9995                 Cote d'Ivoire   001-270-136-4738x419          27-04-22
9996                       Namibia   +1-531-494-7645x4844          17-01-22
9997  United States Virgin Islands     520.109.2482x26052          13-01-22
9998                         Niger       001-465-242-9979          14-04-20
9999                       Tunisia  +1-889-682-9490x65400          27-06-20

      no of customers     Founded
0              7871.0      1988.0
1              3095.0   7457575.0
2          75757575.0         NaN
3           5757575.0      1988.0
4                 NaN  75575775.0
...               ...         ...
9995           9787.0      2013.0
9996           4545.0      2018.0
9997           6797.0      1983.0
9998           2747.0      1975.0
9999           4578.0      2007.0

[10000 rows x 8 columns]
      Index      Customer Id First Name                       Country  \
0         1  EB54EF1154C3A78    Heather                        Norway
1         2  10dAcafEBbA5FcA   Kristina                       Andorra
2         3  67DAB15Ebe4BE4a     Briana                         Nepal
3         4  6d350C5E5eDB4EE      Patty      Northern Mariana Islands
4         5  5820deAdCF23EFe   Kathleen                         Macao
...     ...              ...        ...                           ...
9995   9996  DD0caa06ebf217c     Meghan                 Cote d'Ivoire
9996   9997  C1C62ff90D0AfED   Jeremiah                       Namibia
9997   9998  2EfAa6Fe435A7DA      Peggy  United States Virgin Islands
9998   9999  5dB06C3Fab5CCCb       Evan                         Niger
9999  10000  9903e8fF4D8Ff0F    Melissa                       Tunisia

     Subscription Date  no of customer  Founded
0             26-08-20            3930     1988
1             27-04-20            7871     2018
2             22-03-22            3095     2003
3             02-07-20            5422     1989
4             17-01-21            3135     2013
...                ...             ...      ...
9995          27-04-22            6123     2013
9996          17-01-22            9043     2018
9997          13-01-22            8951     1983
9998          14-04-20            2505     1975
9999          27-06-20            4552     2007

[10000 rows x 7 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              10000 non-null  int64
 1   First Name         9999 non-null   object
 2   Company            9996 non-null   object
 3   Country            9995 non-null   object
 4   Phone 1            9992 non-null   object
 5   Subscription Date  9993 non-null   object
 6   no of customers    9979 non-null   float64
 7   Founded            9980 non-null   float64
dtypes: float64(2), int64(1), object(5)
memory usage: 625.1+ KB

In [3]:
df.isna().sum()

Index                 0
First Name            1
Company               4
Country               5
Phone 1               8
Subscription Date     7
no of customers      21
Founded              20
dtype: int64

In [13]:
df_rows=df.dropna()
print("remove data object with missing values")
print(df_rows)

remove data object with missing values
      Index First Name                      Company  \
0         1    Heather                 Mosley-David
1         2   Kristina     Horn, Shepard and Watson
3         4      Patty             Richardson Group
6         7     Mathew     Bender, Pittman and Kidd
9        10    Brendan  Schaefer, Blair and Shaffer
...     ...        ...                          ...
9995   9996     Meghan               Richardson LLC
9996   9997   Jeremiah                  Hodge-Nixon
9997   9998      Peggy                     Vang LLC
9998   9999       Evan                    Gould Ltd
9999  10000    Melissa                 Burns-Holden

                           Country                Phone 1 Subscription Date  \
0                           Norway           043-797-5229          26-08-20
1                          Andorra           932-062-1802          27-04-20
3         Northern Mariana Islands           302.398.3833          02-07-20
6                       Uzbekistan           842.380.1168          09-04-20
9                          Ukraine       001-315-224-3556          29-06-21
...                            ...                    ...               ...
9995                 Cote d'Ivoire   001-270-136-4738x419          27-04-22
9996                       Namibia   +1-531-494-7645x4844          17-01-22
9997  United States Virgin Islands     520.109.2482x26052          13-01-22
9998                         Niger       001-465-242-9979          14-04-20
9999                       Tunisia  +1-889-682-9490x65400          27-06-20

      no of customers    Founded
0              7871.0     1988.0
1              3095.0  7457575.0
3           5757575.0     1988.0
6              4580.0     2005.0
9              2985.0     1985.0
...               ...        ...
9995           9787.0     2013.0
9996           4545.0     2018.0
9997           6797.0     1983.0
9998           2747.0     1975.0
9999           4578.0     2007.0

[9938 rows x 8 columns]

In [14]:
df_columns=df.dropna(axis=1)
print("remove missing values with attribute")
print(df_columns)

remove missing values with attribute
      Index
0         1
1         2
2         3
3         4
4         5
...     ...
9995   9996
9996   9997
9997   9998
9998   9999
9999  10000

[10000 rows x 1 columns]

In [16]:
df.fillna(0)

,Index,First Name,Company,Country,Phone 1,Subscription Date,no of customers,Founded
0,1,Heather,Mosley-David,Norway,043-797-5229,26-08-20,7871.0,1988.0
1,2,Kristina,"Horn, Shepard and Watson",Andorra,932-062-1802,27-04-20,3095.0,7457575.0
2,3,Briana,Irwin-Oneal,Nepal,8352752061,22-03-22,75757575.0,0.0
3,4,Patty,Richardson Group,Northern Mariana Islands,302.398.3833,02-07-20,5757575.0,1988.0
4,5,Kathleen,Carson-Burch,Macao,001-184-153-9683x1497,17-01-21,0.0,75575775.0
...,...,...,...,...,...,...,...,...
9995,9996,Meghan,Richardson LLC,Cote d'Ivoire,001-270-136-4738x419,27-04-22,9787.0,2013.0
9996,9997,Jeremiah,Hodge-Nixon,Namibia,+1-531-494-7645x4844,17-01-22,4545.0,2018.0
9997,9998,Peggy,Vang LLC,United States Virgin Islands,520.109.2482x26052,13-01-22,6797.0,1983.0
9998,9999,Evan,Gould Ltd,Niger,001-465-242-9979,14-04-20,2747.0,1975.0
9999,10000,Melissa,Burns-Holden,Tunisia,+1-889-682-9490x65400,27-06-20,4578.0,2007.0

In [15]:
df_fill=df.fillna(df.mean(numeric_only=True))
print("impute and estimate with missing values")
print(df_fill)

impute and estimate with missing values
      Index First Name                   Company  \
0         1    Heather              Mosley-David
1         2   Kristina  Horn, Shepard and Watson
2         3     Briana               Irwin-Oneal
3         4      Patty          Richardson Group
4         5   Kathleen              Carson-Burch
...     ...        ...                       ...
9995   9996     Meghan            Richardson LLC
9996   9997   Jeremiah               Hodge-Nixon
9997   9998      Peggy                  Vang LLC
9998   9999       Evan                 Gould Ltd
9999  10000    Melissa              Burns-Holden

                           Country                Phone 1 Subscription Date  \
0                           Norway           043-797-5229          26-08-20
1                          Andorra           932-062-1802          27-04-20
2                            Nepal             8352752061          22-03-22
3         Northern Mariana Islands           302.398.3833          02-07-20
4                            Macao  001-184-153-9683x1497          17-01-21
...                            ...                    ...               ...
9995                 Cote d'Ivoire   001-270-136-4738x419          27-04-22
9996                       Namibia   +1-531-494-7645x4844          17-01-22
9997  United States Virgin Islands     520.109.2482x26052          13-01-22
9998                         Niger       001-465-242-9979          14-04-20
9999                       Tunisia  +1-889-682-9490x65400          27-06-20

      no of customers       Founded
0        7.871000e+03  1.988000e+03
1        3.095000e+03  7.457575e+06
2        7.575758e+07  1.729839e+04
3        5.757575e+06  1.988000e+03
4        2.055932e+04  7.557578e+07
...               ...           ...
9995     9.787000e+03  2.013000e+03
9996     4.545000e+03  2.018000e+03
9997     6.797000e+03  1.983000e+03
9998     2.747000e+03  1.975000e+03
9999     4.578000e+03  2.007000e+03

[10000 rows x 8 columns]

In [9]:
df.fillna(df.median(numeric_only=True))

,Index,First Name,Company,Country,Phone 1,Subscription Date,no of customers,Founded
0,1,Heather,Mosley-David,Norway,043-797-5229,26-08-20,7871.0,1988.0
1,2,Kristina,"Horn, Shepard and Watson",Andorra,932-062-1802,27-04-20,3095.0,7457575.0
2,3,Briana,Irwin-Oneal,Nepal,8352752061,22-03-22,75757575.0,1996.0
3,4,Patty,Richardson Group,Northern Mariana Islands,302.398.3833,02-07-20,5757575.0,1988.0
4,5,Kathleen,Carson-Burch,Macao,001-184-153-9683x1497,17-01-21,4902.0,75575775.0
...,...,...,...,...,...,...,...,...
9995,9996,Meghan,Richardson LLC,Cote d'Ivoire,001-270-136-4738x419,27-04-22,9787.0,2013.0
9996,9997,Jeremiah,Hodge-Nixon,Namibia,+1-531-494-7645x4844,17-01-22,4545.0,2018.0
9997,9998,Peggy,Vang LLC,United States Virgin Islands,520.109.2482x26052,13-01-22,6797.0,1983.0
9998,9999,Evan,Gould Ltd,Niger,001-465-242-9979,14-04-20,2747.0,1975.0
9999,10000,Melissa,Burns-Holden,Tunisia,+1-889-682-9490x65400,27-06-20,4578.0,2007.0

In [10]:
df.interpolate()

<ipython-input-10-11c47216a02d>:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate()

,Index,First Name,Company,Country,Phone 1,Subscription Date,no of customers,Founded
0,1,Heather,Mosley-David,Norway,043-797-5229,26-08-20,7871.0,1988.0
1,2,Kristina,"Horn, Shepard and Watson",Andorra,932-062-1802,27-04-20,3095.0,7457575.0
2,3,Briana,Irwin-Oneal,Nepal,8352752061,22-03-22,75757575.0,3729781.5
3,4,Patty,Richardson Group,Northern Mariana Islands,302.398.3833,02-07-20,5757575.0,1988.0
4,5,Kathleen,Carson-Burch,Macao,001-184-153-9683x1497,17-01-21,2881798.5,75575775.0
...,...,...,...,...,...,...,...,...
9995,9996,Meghan,Richardson LLC,Cote d'Ivoire,001-270-136-4738x419,27-04-22,9787.0,2013.0
9996,9997,Jeremiah,Hodge-Nixon,Namibia,+1-531-494-7645x4844,17-01-22,4545.0,2018.0
9997,9998,Peggy,Vang LLC,United States Virgin Islands,520.109.2482x26052,13-01-22,6797.0,1983.0
9998,9999,Evan,Gould Ltd,Niger,001-465-242-9979,14-04-20,2747.0,1975.0
9999,10000,Melissa,Burns-Holden,Tunisia,+1-889-682-9490x65400,27-06-20,4578.0,2007.0

In [25]:
from scipy.stats import zscore
zscore=(numeric_df - numeric_df.mean()) / numeric_df.std()
outliers=[abs(zscore)>3]
print("outliers:",outliers)

outliers: [      Index  no of customers  Founded
0     False            False    False
1     False            False     True
2     False             True    False
3     False             True    False
4     False            False     True
...     ...              ...      ...
9995  False            False    False
9996  False            False    False
9997  False            False    False
9998  False            False    False
9999  False            False    False

[10000 rows x 3 columns]]

In [33]:
q1=numeric_df.quantile(0.25)
q3=numeric_df.quantile(0.75)
iqr=q3-q1
lower=q1-1.5*iqr
upper=q3+1.5*iqr
outliers=numeric_df[(numeric_df < lower) | (numeric_df > upper)]
print(outliers)

      Index  no of customers     Founded
0       NaN              NaN         NaN
1       NaN              NaN   7457575.0
2       NaN       75757575.0         NaN
3       NaN        5757575.0         NaN
4       NaN              NaN  75575775.0
...     ...              ...         ...
9995    NaN              NaN         NaN
9996    NaN              NaN         NaN
9997    NaN              NaN         NaN
9998    NaN              NaN         NaN
9999    NaN              NaN         NaN

[10000 rows x 3 columns]

In [20]:
numeric_df=df.select_dtypes(include='number')
lower_cap=10
upper_cap=100
replace_df=numeric_df.clip(lower=lower_cap, upper=upper_cap)
print(replace_df)

      Index  no of customers  Founded
0        10            100.0    100.0
1        10            100.0    100.0
2        10            100.0      NaN
3        10            100.0    100.0
4        10              NaN    100.0
...     ...              ...      ...
9995    100            100.0    100.0
9996    100            100.0    100.0
9997    100            100.0    100.0
9998    100            100.0    100.0
9999    100            100.0    100.0

[10000 rows x 3 columns]

In [22]:
log_transform=np.log(numeric_df)
print(log_transform)

         Index  no of customers    Founded
0     0.000000         8.970940   7.594884
1     0.693147         8.037543  15.824741
2     1.098612        18.143049        NaN
3     1.386294        15.566027   7.594884
4     1.609438              NaN  18.140646
...        ...              ...        ...
9995  9.209940         9.188810   7.607381
9996  9.210040         8.421783   7.609862
9997  9.210140         8.824237   7.592366
9998  9.210240         7.918265   7.588324
9999  9.210340         8.429018   7.604396

[10000 rows x 3 columns]

In [30]:
numeric_df[((abs(numeric_df - numeric_df.mean()) / numeric_df.std()) < 3)]

      Index  no of customers  Founded
0         1           7871.0   1988.0
1         2           3095.0      NaN
2         3              NaN      NaN
3         4              NaN   1988.0
4         5              NaN      NaN
...     ...              ...      ...
9995   9996           9787.0   2013.0
9996   9997           4545.0   2018.0
9997   9998           6797.0   1983.0
9998   9999           2747.0   1975.0
9999  10000           4578.0   2007.0

[10000 rows x 3 columns]